".text.html":
  "dom-module":
    "prefix": "dom-module"
    "body": """
    <dom-module id="$1">
      <style>
        :host {
          display: block;
        }
      </style>
      <template>
        $2
      </template>
    </dom-module>
    """
