# Iron components snippets

".text.html":
  "iron-ajax":
    "prefix": "iron-ajax"
    "body": """
    <iron-ajax id="$1"
      ${2:auto}
      url="$3"
      handle-as="json"
      on-response="handleResponse"></iron-ajax>
    """
  "iron-icon":
    "prefix": "iron-icon"
    "body": """
    <iron-icon icon="$1"></iron-icon>
    """
