# Iron components snippets

".text.html":
  "iron-ajax":
    "prefix": "iron-ajax"
    "body": """
    <iron-ajax id="$1"
      ${2:auto}
      url="$3"
      handle-as="json"
      on-response="handleResponse"></iron-ajax>
    """
  "iron-collapse":
    "prefix": "iron-collapse"
    "body": """
    <iron-collapse id="$1">
      $2
    </iron-collapse>
    """
  "iron-form":
    "prefix": "iron-form"
    "body": """
    <form is="iron-form" id="${1:form}" method="${2:post}" action="${3:/form/handler}">
      $4
    </form>
    """
  "iron-icon":
    "prefix": "iron-icon"
    "body": """
    <iron-icon icon="$1"></iron-icon>
    """
  "iron-image":
    "prefix": "iron-image"
    "body": """
    <iron-image src="${1:http://lorempixel.com/400/400}"></iron-image>$2
    """
  "iron-pages":
    "prefix": "iron-pages"
    "body": """
    <iron-pages selected="${1:0}">
      <div>${2:One}</div>
      <div>${3:Two}</div>
      <div>${4:Three}</div>
    </iron-pages>
    """
