".source.js":
  "Polymer: Element declaration":
    "prefix": "Polymer"
    "body": """
    Polymer({
      is: "${1:my-element}",
      $2
    });
    """
  "Polymer: properties":
    "prefix": "properties"
    "body": """
    properties: {
      ${1:name}: {
        type: ${2:Boolean}
      }
    }
    """
  "Polymer: ready()":
    "prefix": "ready"
    "body": """
    ready: function() {
      $1
    }
    """
