# Paper components snippets

".text.html":
  "paper drawer panel":
    "prefix": "paper-drawer-panel"
    "body": """
    <paper-drawer-panel>
      <div drawer>${1:Drawer}</div>
      <div main>${2:Main Panel}</div>
    </paper-drawer-panel>
    """

  "paper toolbar":
    "prefix": "paper-toolbar"
    "body": """
    <paper-toolbar>
      <paper-icon-button icon="$1" on-tap="menuAction"></paper-icon-button>
      <div title>$2</div>
      <paper-icon-button icon="$3" on-tap="moreAction"></paper-icon-button>
    </paper-toolbar>
    """

  "paper tabs":
    "prefix": "paper-tabs"
    "body": """
    <paper-tabs selected="0">
      <paper-tab>${1:Tab 1}</paper-tab>
      <paper-tab>${2:Tab 2}</paper-tab>
      <paper-tab>${3:Tab 3}</paper-tab>
    </paper-tabs>
    """

  "paper button":
    "prefix": "paper-button"
    "body": """
    <paper-button ${1:raised}>${2:button}</paper-button>
    """
