# Paper components snippets

".text.html":
  "paper drawer panel":
    "prefix": "paper-drawer-panel"
    "body": """
    <paper-drawer-panel>
      <div drawer>${1:Drawer}</div>
      <div main>${2:Main Panel}</div>
    </paper-drawer-panel>
    """
  "paper scroll header panel":
    "prefix": "paper-scroll-header-panel"
    "body": """
    <paper-scroll-header-panel>
      <paper-toolbar>${1:Header}</paper-toolbar>
      <div>${2:Content goes here...}</div>
    </paper-scroll-header-panel>
    """
  "paper header panel":
    "prefix": "paper-header-panel"
    "body": """
    <paper-header-panel>
      <paper-toolbar>${1:Header}</paper-toolbar>
      <div>${2:Content goes here...}</div>
    </paper-header-panel>
    """
  "paper toolbar":
    "prefix": "paper-toolbar"
    "body": """
    <paper-toolbar>
      <paper-icon-button icon="$1" on-tap="menuAction"></paper-icon-button>
      <div title>$2</div>
      <paper-icon-button icon="$3" on-tap="moreAction"></paper-icon-button>
    </paper-toolbar>
    """
  "paper tabs":
    "prefix": "paper-tabs"
    "body": """
    <paper-tabs selected="0">
      <paper-tab>${1:Tab 1}</paper-tab>
      <paper-tab>${2:Tab 2}</paper-tab>
      <paper-tab>${3:Tab 3}</paper-tab>
    </paper-tabs>
    """
  "paper button":
    "prefix": "paper-button"
    "body": """
    <paper-button ${1:raised}>${2:button}</paper-button>
    """
  "paper icon button":
    "prefix": "paper-icon-button"
    "body": """
    <paper-icon-button icon="${1:menu}""></paper-icon-button>
    """
  "paper-input-container":
    "prefix": "paper-input"
    "body": """
    <paper-input-container id="$1">
      <label>${2:Input label}</label>
      <input is="iron-input"$3>
    </paper--container>
    """
  "paper-textarea":
    "prefix": "paper-textarea"
    "body": """
    <paper-textarea id="$1" label="${2:Textarea label}"$3></paper-textarea>
    """
