".text.html":
  "polymer element":
    "prefix": "pe"
    "body": """
    <link rel="import" href="${1:../bower_components}/polymer/polymer.html">

    <dom-module id="$2">
      <style>
        :host {
          $5
        }
      </style>
      <template>
        $4
      </template>
      <script>
        Polymer({
          is: '$2',
          $3
        });
      </script>
    </dom-module>
    """
  "polymer element no template":
    "prefix": "pen"
    "body": """
    <link rel="import" href="${1:../bower_components}/polymer/polymer.html">

    <script>
      Polymer({
        is: '$2',
        $3
      });
    </script>
    """
